<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{appType}} | Car Project</title>

    <meta name="description" content="Example Monolith">
    <meta name="author" content="@hepidad">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-12">
          <h1>Monolith | Car Project</h1>
          <h3>
            Demo:
            <a href="{{url_for('createcar')}}">Create</a> /
            <a href="{{url_for('readcar')}}">Read</a> /
            <a href="{{url_for('updatecar')}}">Update</a> /
            <a href="{{url_for('deletecar')}}">Delete</a> /
            <a href="{{url_for('searchcar')}}">Search</a>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Search Car Data</h4>
          <form method="GET" action="{{ url_for('searchcar') }}">
            <div class="form-group">
                <label>Search</label>
                <input type="text" name="keyword" class="form-control" placeholder="Masukkan nama / brand mobil">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Search</button>
         </form>

        <hr>

          {% if cars %}
          <h4>Search Result:</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Price(USD)</th>
              </tr>
            </thead>
            <tbody>
              {% for car in cars %}
              <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.carname }}</td>
                <td>{{ car.carbrand }}</td>
                <td>{{ car.carmodel }}</td>
                <td>{{ car.carprice }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% elif request.args.get('keyword') %}
          <p><b>No data found.</b></p>
          {% endif %}

        </div>
      </div>

    </div>

    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>